@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    background-color: $black;
    color: $gray2;
    font-family: $main_font ;

    @include tablet {
        @include bg-image('bg.jpg');
    }
}

a {
    color: $gray2;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.site-header img {
    margin-top: .5rem;
    max-width: 100px;

    @include tablet {
        max-width: 180px;
        margin-left: 2rem;
    }
}

.login-form {
    @include tablet {
        background-color: rgba(0, 0, 0, .75);
        max-width: 450px;
        margin: 3rem auto 4rem auto;
        padding: 2rem 4rem;
        border-radius: 10px;
    }
}

form {
    legend {
        color: $white;
        font-size: 1.8rem;
        font-weight: bold;
        margin: 2rem 0;
    }

    .field {
        display: flex;
        margin-bottom: .8rem;
        position: relative;


        span {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        label {
            position: absolute;
            top: 1.3rem;
            left: 1rem;
            font-size: .9rem;
            transition: font-size .2s ease, top .2s ease;
        }

        input {
            padding: 1.3rem 1rem .9rem 1rem;
            flex: 1;
            background-color: $gray;
            border: none;
            border-radius: 5px;

            &:focus {
                background-color: $gray3;

                +label {
                    font-size: .6rem;
                    top: .5rem;
                }
            }
        }
    }
}